<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.ispmj.lv.manager.Dao.CustomerDao">  
<!-- 	 <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
 -->     <insert id="addCustomer" parameterType="C">
     	insert into lv_customer (customerId,pwd,showName,trueName,tel,email,card,registerTime) 
     	 values(#{customerId},#{pwd},#{showName},#{trueName},#{tel},#{email},#{card},#{registerTime})
     </insert>
     <update id="update" parameterType="C">
     	update tbl_customer set customerId=#{customerId},pwd=#{pwd},
     		showName=#{showName},trueName=#{trueName},tel=#{tel},email=#{email},card=#{card},registerTime=#{registerTime} 
     	  	where uuid=#{uuid}
     </update>
     <delete id="delete" parameterType="int">
     	delete from lv_customer where uuid=#{uuid}
     </delete>
     
     <select id="getByCustomerId" parameterType="String" resultType="C"> 
        select * from lv_customer where customerId=#{customerId}
    </select>
    
    <select id="getByUuid" parameterType="int" resultType="C">  
        select * from lv_cusomer where uuid=#{uuid}
    </select>  
    <select id="getByConditionPage" parameterType="CQ" resultType="C">  
        select * from lv_customer
        <where>
        	<if test="uuid!=null &amp;&amp; uuid > 0">
        		and uuid=#{uuid}
        	</if>  
        	<if test="customerId!=null &amp;&amp; customerId!=''">
        		and customerId=#{customerId}
        	</if>
        	<if test="showName!=null &amp;&amp; showName!=''">
        		and showName=#{showName}
        	</if>
        </where>
        ORDER BY uuid
    </select> 
</mapper>